@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.guide {
  position: relative;
  z-index: 3;
  padding-bottom: 0;
  overflow: hidden;
  color: vars.$white;
  text-align: center;
  background: vars.$dark-blue;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include mix.h1;

    max-width: 862px;

    @media (max-width: vars.$md) {
      @include mix.h2;
    }
  }

  &__bg {
    &-block {
      position: relative;
      width: 100%;
      max-width: vars.$xxl;
      height: fn.cmax(482, 788);
      margin: 0 auto;
    }

    &-wrap {
      position: absolute;

      &_1 {
        top: 20%;
        left: 0;
        z-index: 3;
        width: 36.32%;
        min-width: 257px;

        @media (max-width: vars.$lg) {
          top: 45%;
          left: 0;
        }
      }

      &_2 {
        bottom: 0;
        left: 50%;
        z-index: 4;
        width: 75%;
        min-width: 466px;
        transform: translateX(-50%);
      }

      &_3 {
        top: 0;
        left: 20%;
        z-index: 2;
        width: 47.43%;
        min-width: 317px;
      }

      &_4 {
        top: 30%;
        right: 10%;
        z-index: 5;
        width: 29.86%;
        min-width: 186px;

        @media (max-width: vars.$lg) {
          top: 30%;
          right: 0;
        }
      }

      &_5 {
        top: 45%;
        right: 0;
        z-index: 1;
        width: 41.67%;
        min-width: 310px;
        transform: translateY(-50%);

        @media (max-width: vars.$sm) {
          top: 40%;
          right: 20%;
        }
      }
    }
  }
}
