@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.usage {
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
  }

  &__title {
    max-width: 355px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: fn.cmin(40,60);
    max-width: 810px;
  }

  &__desc {
    @include mix.h3;
  }
}
