@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;
@use '../utils/functions' as fn;

.select {
  color: vars.$white;

  @include mix.p14;

  &.is-open {
    .select__head {
      background: vars.$red;

      &::before {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__head {
    position: relative;
    transition: background-color 0.3s ease-in-out;

    &::before {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 17px;
      height: 8px;
      background: url('@/assets/img/chevron-bottom.svg') no-repeat center / contain;
      transform: translateY(-50%);
      transition: transform 0.3s ease-in-out;
      content: '';
    }
  }

  &__head,
  &__body {
    border-color: vars.$dark-blue;
    border-radius: 20px;
  }

  &__head,
  &__option_body {
    padding: 25px 20px;
    background: vars.$dark-blue;
  }

  &__option_body {
    border-color: vars.$white;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: lighten(vars.$dark-blue, 10%);
    }
  }
}
