
mixin fixed
  .fixed 
    .fixed__container.container 
      button.fixed__btn.btn.btn_red.btn_uppercase.btn_lengthy(type="button") Купить Руководство
      button.fixed__btn.btn.btn_white.btn_uppercase.btn_lengthy(type="button") Заплонировать встречу