mixin about
  section.about.section
    .about__container.container 
      .about__title.section__title-block
        h2.section__title Обо мне
        span.section__title-desc Инструкция
      .about__content
        p.about__desc
          | Моя миссия - просвещение и подтверждение гипотез научным подходом и профессиональной реализацией услуг. Вернуть веру в индивидуальных экспертов. 
          span.about__desc_accent За последние пару лет поддержки мы создали и обновили более 200 мультиязычных сервисов и страниц. При этом соблюдали обновленный брендбук и выбирали лучшие решения, которые упрощали жизнь пользователей.
        ul.about__list
          li.about__item 
            h3.about__item-name 15 лет опыта
            p.about__item-desc Более 15 лет занимаюсь бизнес-консультациями
          li.about__item 
            h3.about__item-name Консультант
            p.about__item-desc ChatGPT подходит для написания т/з по дизайну
          li.about__item 
            h3.about__item-name Статьи
            p.about__item-desc ChatGPT подходит для написания статей
          li.about__item 
            h3.about__item-name Скрипты
            p.about__item-desc ChatGPT подходит для написания скриптов
        p.about__desc ChatGPT – это чат-бот с ИИ, работающий на основе алгоритма обработки естественного языка GPT-3, системы, которая по словам создателей, способна решить абсолютно любую задачу на английском язык, разработанный компанией OpenAI и способный работать в диалоговом режиме, поддерживающий запросы на естественных языках. 
        picture.about__img-wrap
          img.about__img(src="@/assets/img/about/woman.jpg", alt="")
        p.about__desc ChatGPT – это чат-бот с ИИ, работающий на основе алгоритма обработки естественного языка GPT-3, системы, которая по словам создателей, способна решить абсолютно любую задачу на английском язык, разработанный компанией OpenAI и способный работать в диалоговом режиме, поддерживающий запросы на естественных языках. 

