mixin applications
  section.section 
    .applications__container.container 
      .applications__text-block
        .applications__title.section__title-block 
          h2.section__title В каких сферах можно использовать ChatGPT?
          span.section__title-desc Инструкция
        p.applications__desc ChatGPT – это чат-бот с ИИ, работающий на основе алгоритма обработки естественного языка GPT-3, системы, которая по словам создателей, способна решить абсолютно любую задачу на английском языке.
      .applications__table-block
        table.applications__table
          tbody
            tr
              td
              th.applications__table-field.applications__table-blue С помощью ChatGPT
              th.applications__table-field.applications__table-blue С помощью “расширенного” ChatGPT
              th.applications__table-field.applications__table-red С помощью нашего обученного ChatGPT
            tr
              th.applications__table-field.applications__table-blue Написать пост для блога
              td.applications__table-field 2-3 часа
              td.applications__table-field 1-2 часа
              td.applications__table-field.applications__table-red-trs 10-30 минут
            tr
              th.applications__table-field.applications__table-blue Создание рекламного скрипта для Youtube
              td.applications__table-field 1 час
              td.applications__table-field 30 минут
              td.applications__table-field.applications__table-red-trs 10 минут
            tr
              th.applications__table-field.applications__table-blue Создание 10 кастомных e-mail рассылок
              td.applications__table-field 5-10 часов
              td.applications__table-field 3-5 часов
              td.applications__table-field.applications__table-red-trs 1-3 часа
