mixin footer 
  -
    const navList = [
      {
        text: 'Главная',
        href: '#main',
      },
      {
        text: 'Тарифы',
        href: '#tariffs',
      },
      {
        text: 'О нас',
        href: '#about',
      },
    ];
  footer.footer
    .footer__container.container 
      .footer__info 
        a.footer__logo(href="#main")
          svg.footer__logo-icon
            use(xlink:href="./assets/sprite.svg#logo-footer")
        p.footer__desc За последние пару лет поддержки мы создали и обновили более 200 мультиязычных сервисов и страниц. 
        ul.footer__social 
          li.footer__social-item 
            a.footer__social-link.btn.btn_white.btn_short.btn_fit(href="#") telegram
          li.footer__social-item 
            a.footer__social-link.btn.btn_white.btn_short.btn_fit(href="#") vk
          li.footer__social-item 
            a.footer__social-link.btn.btn_white.btn_short.btn_fit(href="#") instagram
      ul.footer__nav-contacts
        li.footer__nav-contacts-item
          strong.footer__nav-contacts-title Навигация
          ul.footer__nav-contacts-list
            each item in navList
              li.footer__nav-contacts-list-item
                a.footer__nav-contacts-list-item(href=item.href)=item.text
        li.footer__nav-contacts-item
          strong.footer__nav-contacts-title Контакты
          ul.footer__nav-contacts-list
            li.footer__nav-contacts-list-item 
              a.footer__nav-contacts-list-item(href="mailto:a_kabuki@gmail.com") a_kabuki@gmail.com
            li.footer__nav-contacts-list-item 
              a.footer__nav-contacts-list-item(href="tel:+78629642535") +7 862 964 2535