mixin guide 
  section.guide.section
    .guide__container.container
      h2.guide__title.title
        | Самое полноценное руководство по внедрению ChatGPT в бизнес 
        span.title_accent на русском
    .guide__bg-block
      picture.guide__bg-wrap 
        source(media="(max-width: 991.98px)", srcset="@/assets/img/guide/bg-mobile.png")
        img.guide__bg(src="@/assets/img/guide/bg.png", alt="")