mixin guide 
  section.guide.section
    .guide__container.container
      h2.guide__title.title
        | Самое полноценное руководство по внедрению ChatGPT в бизнес 
        span.title_accent на русском
    .guide__bg-block
      picture.guide__bg-wrap.guide__bg-wrap_1
        img.guide__bg(src="@/assets/img/guide/image-1.png", alt="")
      picture.guide__bg-wrap.guide__bg-wrap_2
        img.guide__bg(src="@/assets/img/guide/image-2.png", alt="")
      picture.guide__bg-wrap.guide__bg-wrap_3
        img.guide__bg(src="@/assets/img/guide/image-3.png", alt="")
      picture.guide__bg-wrap.guide__bg-wrap_4
        img.guide__bg(src="@/assets/img/guide/image-4.png", alt="")
      picture.guide__bg-wrap.guide__bg-wrap_5
        img.guide__bg(src="@/assets/img/guide/image-5.png", alt="")
      
      
      
      
      
      
