mixin hero
  section#main.hero.section-first
    picture.hero__bg-wrap
      img.hero__bg(src="@/assets/img/hero/bg.jpg" alt="")
    .hero__container.container
      h1.hero__title.title
        span.title_accent Помогаю 
        br
        |интегрировать ChatGPT 
        br
        span.title_accent в рабочие процессы
