mixin innovation
  section.innovation.section
    picture.innovation__bg-wrap
      img.innovation__bg(src="@/assets/img/innovation/bg.png", alt="")
    .innovation__container.container 
      h2.title.innovation__title 
        | ChatGPT - инновационное решение для вашего бизнеса 
        span.title_accent и мы готовы помочь вам интегрировать его в рабочие процессы 
      .innovation__slider.swiper
        ul.swiper-wrapper
          li.innovation__slider-slide.swiper-slide
            .innovation__info-item.innovation__info-item_red 
              span.innovation__info-name Создание SEO-контента для сайтов
              button.innovation__info-btn.btn.btn_white.btn_uppercase(type="button") Купить руководство
              span.innovation__info-garant Гарантия возврата 14 дней
          li.innovation__slider-slide.swiper-slide
            .innovation__info-item.innovation__info-item_red 
              span.innovation__info-name Продающий и вовлекающий контент для соцсетей
              button.innovation__info-btn.btn.btn_white.btn_uppercase(type="button") Купить руководство
              span.innovation__info-garant Гарантия возврата 14 дней
          li.innovation__slider-slide.swiper-slide
            .innovation__info-item.innovation__info-item_red 
              span.innovation__info-name Ускоряет работу над проектом и оптимизирует рабочие процессы
              button.innovation__info-btn.btn.btn_white.btn_uppercase(type="button") Купить руководство
              span.innovation__info-garant Гарантия возврата 14 дней
          li.innovation__slider-slide.swiper-slide
            .innovation__info-item.innovation__info-item_red 
              span.innovation__info-name Мгновенно генерирует идеи для вашего бизнеса
              button.innovation__info-btn.btn.btn_white.btn_uppercase(type="button") Купить руководство
              span.innovation__info-garant Гарантия возврата 14 дней
          li.innovation__slider-slide.swiper-slide
            .innovation__info-item.innovation__info-item_red 
              span.innovation__info-name Способен создавать индивидуальный текст за секунды
              button.innovation__info-btn.btn.btn_white.btn_uppercase(type="button") Купить руководство
              span.innovation__info-garant Гарантия возврата 14 дней
        button.innovation__slider-btn.innovation__slider-btn_prev
            svg.innovation__slider-btn-icon
              use(xlink:href="./assets/sprite.svg#arrow-left")
        button.innovation__slider-btn.innovation__slider-btn_next
          svg.innovation__slider-btn-icon
            use(xlink:href="./assets/sprite.svg#arrow-left")
      .innovation__content 
        .innovation__info
          ul.innovation__info-list 
            li.innovation__info-item Создание SEO-контента для сайтов
            li.innovation__info-item Продающий и вовлекающий контент для соцсетей
            li.innovation__info-item Ускоряет работу над проектом и оптимизирует рабочие процессы
          ul.innovation__info-list
            li.innovation__info-item Мгновенно генерирует идеи для вашего бизнеса
            li.innovation__info-item.innovation__info-item_red 
              span.innovation__info-name Способен создавать индивидуальный текст за секунды
              button.innovation__info-btn.btn.btn_white.btn_uppercase(type="button") Купить руководство
              span.innovation__info-garant Гарантия возврата 14 дней
        picture.innovation__phone-wrap 
          img.innovation__phone(src="@/assets/img/innovation/phone.png", alt="")


