mixin integration
  section.integration.section
    .integration__container.container 
      .integration__title.section__title-block 
        h2.section__title Как интегрировать ChatGPT в ваш бизнес
        span.section__title-desc Инструкция
      .integration__content
        h3.integration__heading ChatGPT – это чат-бот с ИИ, работающий на основе алгоритма обработки естественного языка GPT-3, системы, которая по словам создателей.
        .integration__desc-block 
          p.integration__desc ChatGPT – это чат-бот с ИИ, работающий на основе алгоритма обработки естественного языка GPT-3, системы, которая по словам создателей, способна решить абсолютно любую задачу на английском язык, разработанный компанией OpenAI и способный работать в диалоговом режиме, поддерживающий запросы на естественных языках. 
          p.integration__desc ChatGPT – это чат-бот с ИИ, работающий на основе алгоритма обработки естественного языка GPT-3, системы, которая по словам создателей, способна решить абсолютно любую задачу на английском языке.

