mixin trial
  section.trial.section
    .trial__bg-block
      picture.trial__bg-wrap 
        img.trial__bg(src="@/assets/img/trial/bg.jpg", alt="")
    .trial__container.container
      .trial__text-block
        h2.trial__title Желаете попробовать ChatGPT в деле?
        p.trial__desc Которая по словам создателей, способна решить абсолютно любую задачу на английском язык, разработанный компанией OpenAI.
      .trial__btn-block
        button.trial__btn.btn.btn_red.btn_uppercase.btn_lengthy(type="button") КУПИТЬ РУКОВОДСТВО
        button.trial__btn.btn.btn_white.btn_uppercase.btn_lengthy(type="button") ЗАПЛАНИРОВАТЬ ВСТРЕЧУ