mixin usage
  section.usage.section
    .container.usage__container 
      .usage__title.section__title-block
        h2.section__title Как пользоваться нейросетью ChatGPT в России
        span.section__title-desc Инструкция
      .usage__content 
        p.usage__desc ChatGPT – это чат-бот с ИИ, работающий на основе алгоритма обработки естественного языка GPT-3, системы, которая по словам создателей, способна решить абсолютно любую задачу на английском язык, разработанный компанией OpenAI и способный работать в диалоговом режиме, поддерживающий запросы на естественных языках.  
        p.usage__desc ChatGPT – это чат-бот с ИИ, работающий на основе алгоритма обработки естественного языка GPT-3, системы, которая по словам создателей, способна решить абсолютно любую задачу на английском язык, разработанный компанией OpenAI и способный работать в диалоговом режиме, поддерживающий запросы на естественных языках. 