mixin visuals
  -
    const visualsData = [
      [
        { 
          name: 'ChatGPT',
          descList: [
            'Если разобраться, то с доверием все на самом деле предельно рационально. В этом вопросе не так много идеализма, как может показаться.',
            'Необходимость проявлять доверие базируется на моей собственной оценке соотношения затраченных усилий и получаемых выгод (другими словами, costs/benefits analysis).',
          ],
        },
        { 
          name: 'ChatGPT',
          descList: [
            'Это очень комплексный, но очень важный принцип. Вкратце, его можно сформулировать просто как “не обманывать”.',
            'Здесь, помимо того, что “обманывать плохо” (это правда), опять же, все достаточно рационально – обманывая, вы часто получаете краткосрочно выгодный вам результат, но создаёте долгосрочные репутационные, а иногда даже юридические риски.',
          ],
        },
        { 
          name: 'ChatGPT',
          descList: [
            'Для меня результаты, достигнутые путем нарушения этических норм, недопустимы.',
          ],
        },
        { 
          name: 'ChatGPT',
          descList: [
            'Для меня результаты, достигнутые путем нарушения этических норм, недопустимы.',
          ],
        },
      ],
      [
        { 
          name: 'ChatGPT',
          descList: [
            'Если разобраться, то с доверием все на самом деле предельно рационально. В этом вопросе не так много идеализма, как может показаться.',
            'Необходимость проявлять доверие базируется на моей собственной оценке соотношения затраченных усилий и получаемых выгод (другими словами, costs/benefits analysis).',
          ],
        },
        { 
          name: 'ChatGPT',
          descList: [
            'Это очень комплексный, но очень важный принцип. Вкратце, его можно сформулировать просто как “не обманывать”.',
            'Здесь, помимо того, что “обманывать плохо” (это правда), опять же, все достаточно рационально – обманывая, вы часто получаете краткосрочно выгодный вам результат, но создаёте долгосрочные репутационные, а иногда даже юридические риски.',
          ],
        },
        { 
          name: 'ChatGPT',
          descList: [
            'Для меня результаты, достигнутые путем нарушения этических норм, недопустимы.',
          ],
        },
        { 
          name: 'ChatGPT',
          descList: [
            'Для меня результаты, достигнутые путем нарушения этических норм, недопустимы.',
          ],
        },
      ],
      [
        { 
          name: 'ChatGPT',
          descList: [
            'Если разобраться, то с доверием все на самом деле предельно рационально. В этом вопросе не так много идеализма, как может показаться.',
            'Необходимость проявлять доверие базируется на моей собственной оценке соотношения затраченных усилий и получаемых выгод (другими словами, costs/benefits analysis).',
          ],
        },
        { 
          name: 'ChatGPT',
          descList: [
            'Это очень комплексный, но очень важный принцип. Вкратце, его можно сформулировать просто как “не обманывать”.',
            'Здесь, помимо того, что “обманывать плохо” (это правда), опять же, все достаточно рационально – обманывая, вы часто получаете краткосрочно выгодный вам результат, но создаёте долгосрочные репутационные, а иногда даже юридические риски.',
          ],
        },
        { 
          name: 'ChatGPT',
          descList: [
            'Для меня результаты, достигнутые путем нарушения этических норм, недопустимы.',
          ],
        },
        { 
          name: 'ChatGPT',
          descList: [
            'Для меня результаты, достигнутые путем нарушения этических норм, недопустимы.',
          ],
        },
      ],
    ];
  section.visuals.section
    .visuals__container.container
      .visuals__top
        h2.visuals__title Более наглядно
        select.visuals__select.select 
          option.visuals__btn-mobile(value="value1" data-tab="1") Что такое ChatGPT
          option.visuals__btn-mobile(value="value2" data-tab="2") Мелкому и среднему бизнесу
          option.visuals__btn-mobile(value="value3" data-tab="3") Крупному бизнесу
        .visuals__btn-block 
          button.visuals__btn.btn.btn_uppercase.btn_long(type="button" data-tab="1") Что такое ChatGPT
          button.visuals__btn.btn.btn_uppercase.btn_long(type="button" data-tab="2") Мелкому и среднему бизнесу
          button.visuals__btn.btn.btn_uppercase.btn_long(type="button" data-tab="3") Крупному бизнесу
      .visuals__content 
        each visualsList, idx in visualsData
          ol.visuals__list(data-tab=`${idx+1}`)
            each visualsItem in visualsList
              li.visuals__item
                h3.visuals__name=visualsItem.name
                .visuals__desc
                  each desc in visualsItem.descList
                    p=desc

